.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4A5568 #E2E8F0;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #E2E8F0;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4A5568;
    border-radius: 10px;
    border: 2px solid #E2E8F0;
  }